.block {
    margin: 1em auto;
    font: 16px/1.5 sans-serif;
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #898e8d;
    color: black;
    font-weight: bold;
}

.centerText {
    text-align: center;
}

div.inlineLeft {
    display: inline-block;
    text-align: left;
}

div.inlineBlock {
    display: inline-block;
}

table {
    font-size: 14px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    color: black;
}

table.List {
    width: 70%;
}

table.Transaction, th.Transaction {
    width: 40%;
}

table, td, th {
    border-style: solid;
}

th {
    background-color: #606060;
}